[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Style guides for Google-originated open-source projects
[access "refs/*"]
	owner = group user/czguang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/czguang
	label-Verified = -1..+1 group user/czguang
	push = group user/czguang
	read = group user/czguang
	rebase = group user/czguang
	removeReviewer = group user/czguang
	submit = group user/czguang
[access "refs/heads/*"]
	create = group user/czguang
	push = +force group user/czguang
	pushMerge = group user/czguang
	read = group user/czguang
[access "refs/tags/*"]
	push = group user/czguang
	push = +force group user/czguang
